@model GPA.Web.Models.Home.HomeIndexViewModel

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Classes</h2>

    <table class="table col-md-4">
        <tr>
            <th>Course Name</th>
            <th>Location</th>
            <th>Teacher Name</th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(name => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(location => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(teachername => item.TeacherName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit","Lesson", new { id = item.Id },null) |
                    @Html.ActionLink("Delete", "Delete", "Lesson", new { id=item.Id },null)
                </td>
            </tr>
        }

    </table>
    <form class="col-md-5 " action="~/Lesson/Create" method="get">
        <input class="btn-danger" type="submit" value="Add A New Class" />
    </form>
</div>


        