@model OdeToFood.Web.Models.Rating.ReviewIndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="ReviewSection">
    <h2 class="top">Reviews of @ViewBag.RestaurantName</h2>
    <table class="table">
        <tr>
            <th>
                Rating
            </th>
            <th>
                Comments
            </th>
            <th>
                Reviewer
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Reviews)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reviewer)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { ReviewId = item.Id }) |
                </td>
            </tr>
        }

    </table>
    <p class="label">
        @Html.ActionLink("Create New", "Create", new { RestaurantId = Model.RestaurantId })
    </p>
</div>


