@model GPASystem.Web.Models.Home.HomeIndexViewModel

@{
    ViewBag.Title = "Index";
}

 <div class="courseSection">
     <table>
         <tr>
             <th>Class Name</th>
             <th>Location</th>
             <th>Teacher Name</th>
             <th></th>
             <th></th>
         </tr>
         @foreach (var course in Model.Courses)
         {
             <tr>
                 <td>@Html.DisplayFor(model => course.Name)</td>
                 <td>@Html.DisplayFor(item => course.Location)</td>
                 <td>@Html.DisplayFor(item => course.TeacherName)</td>
                 <td>@Html.ActionLink("Edit","Edit","Lesson", new{ Id = course.Id}, null)</td>
                 <td>@Html.ActionLink("Delete", "Delte", "Lesson", new { Id = course.Id }, null)</td>
             </tr>
         }
     </table>
 </div>