@model GPASystem.Web.Models.Home.HomeIndexViewModel

@{
    ViewBag.Title = "Index";
}

 <div class="courseSection">
     <table>
         <tr>
             <th>Class Name</th>
             <th>Location</th>
             <th>Teacher Name</th>
             <th></th>
             <th></th>
         </tr>
         @foreach (var course in Model.Courses)
         {
             <tr>
                 <td>@Html.ActionLink(@course.Name,"Index","Learner",new{id = course.Id},null) </td>
                 <td>@Html.DisplayFor(item => course.Location)</td>
                 <td>@Html.DisplayFor(item => course.TeacherName)</td>
                 <td>@Html.ActionLink("Edit","Edit","Lesson", new{ Id = course.Id}, null)</td>
                 <td>@Html.ActionLink("Delete", "Delete", "Lesson", new { Id = course.Id }, null)</td>
             </tr>
         }
     </table>
     <form action=@Url.Action("Create","Lesson",null) method="get">
         <input type="submit" value="Add a Course"/>
     </form>
 </div>