@*in order to use the restaurants model sent from home controller here, we need to include the model firstly, as shown below*@
@*@model IEnumerable<OdeToFoodExercise.Models.RestaurantListViewModel>*@
@model PagedList.IPagedList<OdeToFoodExercise.Models.RestaurantListViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";
}
@{
    var amount = 10.0m;
    var someDate = new DateTime(1999,2,28);
}
<div>
    @*Hello!*@
    @OdeToFoodExercise.Views.Home.Resource.Greeting
</div>
<div>
    @amount.ToString("c")
</div>
<div>
    @someDate.ToShortDateString()
</div>
@ViewBag.MailServer
@*@ViewBag.message*@
@*add a search form here to help user to filter the restaurant by name *@
<form method="get" action="@Url.Action("Index")" data-otf-ajax="true" data-otf-target="#restaurantList">
    <input type="submit" value="search by name" />
    <input type="search" placeholder="Restaurant Name" id="searchTag" data-otf-action="@Url.Action("AutoComplete")" name="searchTerm" />@*we have a "searchTerm" parameter on our Index action, so we need the name attribute to match with that, cuz the "name" of
        the control will be submitted with the form data to the server*@
</form>
@*another version of form using razor syntax's html.helper*@
@*@using (Html.BeginForm())
{
    <input type="submit" name="" value="search by the name" />
    @Html.Editor("searchTerm")
}*@
@* Ajax version Form *@
@*@using (Ajax.BeginForm(new AjaxOptions
{
    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "restaurantList"
}))
{
    <input type="submit" value="search by the name" />
    <input type="search" name="SearchTerm" placeholder="Search Key Word"/>
    
}*@
@Html.Partial("_PartialRestaurant",Model)

