@model IEnumerable<OdeToFoodExercise.Models.RestaurantReview>

@{
    ViewBag.Title = "Index";
    var firstReview = Model.First();//we can define a variable here then firstReview can be used in anywhere in this view.
    Layout = "~/Views/Reviews/_LayoutReview.cshtml";//besides the _ViewStart.cshtml file, we can also configure the Layout on the top of your view, 
    //inside this code block.also you can set the Layout = null if your want
}
@firstReview.Name
<h2>The Latest Reviews</h2>
we are showing the latest @Model.Count() reviews
@VirtualPath

@*Below is the second type of code block come with a foreach loop *@
@foreach (var reviewItem in Model)
{
    @:Review@*put a text"Review" here not between any HTML element in the code block,
               asp cannot make a transaction from c# code to html, to fix this, use 
              an @ sign follow with a colon *@
    <div class="review">
        <h4>@reviewItem.Name</h4>
        <span>@reviewItem.Rating</span>
        <p>@reviewItem.City, @reviewItem.Country</p>
    </div>
    
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>

