@model IEnumerable<GPA.Web.Models.Learner.StudentListViewModel>

<h4 class="title">
    @ViewBag.CourseName
</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gpa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td class="gpa">
            @Html.DisplayFor(modelItem => item.Gpa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
<form class="col-md-5 " action="~/Student/Create" method="get">
    <input class="btn-danger" type="submit" value="Add A New Student" />
</form>
