@model GPA.Web.Models.Learner.StudentIndexViewModel

<h4 class="title">
    @ViewBag.CourseName
</h4>
<table class="table">
    <tr>
        <th>
            StudentName
        </th>
        <th>
            Age
        </th>
        <th>
            GPA
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Students) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td class="gpa">
            @Html.DisplayFor(modelItem => item.Gpa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
<form class="col-md-5 " action=@Url.Action("Create","Student",new{id= Model.CourseId})  method="get">
    <input class="btn-danger" type="submit" value="Add A New Student" />
</form>
